{%extends 'base.html'%}

{%block content%}
{%include 'StudentNavbar.html'%}
<header class=" bg-primary text-white">
    <div class="container px-4 px-lg-5 text-center">
        <div class="container px-4 px-lg-5 text-center">
            <br>
            <!-- <h4 style="font-family: cursive;">Welcome to Student Dashboard</h4> -->
            <h1 class="mb-1" style="font-family: cursive;">Archivo</h1>
            <h4 class="text-secondary mb-0"><em>A single place to manage all your files</em></h4><br>
        </div>
    </div>
</header>
<div class="card">
	<div class="card-body text-center">
		<h5 style="font-family: cursive;">RECENT NOTIFICATION</h5><br>
		<marquee width="100%" direction="up" height="60px" class= "text-center" scrollamount="5">
			<div class="media-body" >
				<h6 >{{message.name}} <small><i style="padding-left: 100px;">Posted on {{message.sent_time}}</i></small></h6>
				<p style="color:brown">{{message.subject}}</p>
				<h5 style="font-family:sans-serif">{{message.title}}</h5>
				<p>{{message.content}}</p>      
			  </div>
		</marquee>
	</div>
  </div>
<section id="dashboard">

<div class="container">

	<div class="row">
	{% for key,value in subject.items %}
	
		<div class="col-md-4">
			<div class="{%cycle 'dbox dbox--color-1' 'dbox dbox--color-2' 'dbox dbox--color-3' %}">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-cloud"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{key}}</span>
					<span class="dbox__title">{{value}}</span>
				</div>
				
				<div class="dbox__action">
					<a class="btn dbox__action__btn" href="StudentDashboard/{{key}}" >Visit</a>
				</div>				
			</div>
			
		</div>
		{% endfor %}
	</div>

</div> 
</section>
{% if messages %}
    {% for message in messages %}
        <div id="msg" style="display: none;">{{message}}</div>
		
    {% endfor %}
{% endif %}

<script>
    
    alert(document.getElementById("msg").textContent)

</script>
{% endblock %}