<!-- Navbar -->
<a class="menu-toggle rounded" href="#"><i class="fas fa-user"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav ">
        <li class="sidebar-brand"><a href="#">Archivo</a></li>
        <li class="sidebar-nav-item"><a href="/StudentDashboard/StudentProfile">Profile</a></li>
        <li class="sidebar-nav-item"><a href="/notifications">Notifications</a></li>
        <li class="sidebar-nav-item"><a href="/StudentDashboard/downloadAllFile">My Repository</a></li>
        <li class="sidebar-nav-item"><a href="/">Log out</a></li>
    </ul>
</nav>