{%extends 'base.html'%}

{%block content%}
{%include 'StudentNavbar.html'%}
<header class=" bg-primary text-white">
    <div class="container px-4 px-lg-5 text-center">
        <div class="container px-4 px-lg-5 text-center">
            <br>
            <!-- <h4 style="font-family: cursive;">Welcome to Student Dashboard</h4> -->
            <h1 class="mb-1" style="font-family: cursive;">Archivo</h1>
            <h4 class="text-secondary mb-0"><em>A single place to manage all your files</em></h4><br>
        </div>
    </div>
</header>

<section id="dashboard">

<div class="container">

	<div class="row">
	{% for key,value in subject.items %}
	
		<div class="col-md-4">
			<div class="{%cycle 'dbox dbox--color-1' 'dbox dbox--color-2' 'dbox dbox--color-3' %}">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-cloud"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{key}}</span>
					<span class="dbox__title">{{value}}</span>
				</div>
				
				<div class="dbox__action">
					<a class="btn dbox__action__btn" href="StudentDashboard/{{key}}" >Visit</a>
				</div>				
			</div>
			
		</div>
		{% endfor %}
	</div>

</div> 
</section>
{% if messages %}
    {% for message in messages %}
        <div id="msg" style="display: none;">{{message}}</div>
    {% endfor %}
{% endif %}

<script>
    
    alert(document.getElementById("msg").textContent)

</script>
{% endblock %}