{% extends 'base.html' %}
{% load static %}



{% block content %}
{%include 'TeacherNavbar.html'%}
<div class="card">
  <div class="card-body">
    <div class="d-flex flex-column align-items-center text-center">
      <img src="{{root}}/{{TeacherImage}}" alt="{{root}}/{{TeacherImage}}" class="rounded-circle" width="150">
    </div>
  </div>
</div>
<br>
<div class="center">
  <h1>Profile</h1>
  {% if messages %}
      {% for message in messages %}
          <div>{{ message }}</div>
          <br>
      {% endfor %}
  {% endif %}
  <form action="#" method="post" class="form" enctype="multipart/form-data">{%csrf_token%}
    <div class="inputbox">
      <input type="text" required="required" name="ssid" value= "{{ssid}}" >
      <span>SSID</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required" name="Fname" value= "{{Fname}}" >
      <span>Fname</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required" name="Lname" value= "{{Lname}}" >
      <span>Lname</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required" name="Designation" value="{{Designation}}">
      <span>Designation</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required" name="Department" value="{{Department}}">
      <span>Department</span>
    </div>
    <div class="inputbox">
      <input type="number" required="required" name="yr_of_exp" value="{{yr_of_exp}}">
      <span>Year of Experience</span>
    </div>
    <div class="inputbox">
      <input type="email" required="required" name="Email" value="{{Email}}">
      <span>Email</span>
    </div>
    <div class="inputbox">
      <input type="tel" required="required" name="Phno" value="{{Phno}}" pattern="[0-9.]+">
      <span>Mobile number</span>
    </div>
    <div class="inputbox">
      <textarea name="Skills" id="" cols="30" rows="3" placeholder="Skills" >{{Skills}}</textarea>
      <span></span>
    </div>
    <br><br>
    <div class="inputbox">
      <input type="file" name="TeacherImage" accept=".png" >
      <span>Chose your recent image</span>
    </div>
    <div class="inputbox">
      <!-- <input type="button" value="submit" name="submit"> -->
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>
<div>
  <img src="{{root}}/FacultyImages/{{TeacherImage}}" alt="'FacultyImages+TeacherImage">
</div>
{% endblock %}


