{%extends 'base.html'%}

{%block content%}

<!-- Navbar -->
<a class="menu-toggle rounded" href="#"><i class="fas fa-user"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav ">
        <li class="sidebar-brand"><a href="#">Archivo Teach</a></li>
        <li class="sidebar-nav-item"><a href="#">Profile</a></li>
        <!-- <li class="sidebar-nav-item"><a href="#">Notifications</a></li> -->
         <li class="sidebar-nav-item"><a href="#announcement">Make an announcement</a></li> 
        <li class="sidebar-nav-item"><a href="/">Log out</a></li>
    </ul>
</nav>

<header class=" bg-primary text-white">
    <div class="container px-4 px-lg-5 text-center">
        <div class="container px-4 px-lg-5 text-center">
            <br>
            <!-- <h4 style="font-family: cursive;">Welcome to Student Dashboard</h4> -->
            <h1 class="mb-1" style="font-family: cursive;">Archivo</h1>
            <h4 class="text-secondary mb-0"><em>A single place to manage all your files</em></h4><br>    
        </div>
    </div>
</header>

<section id="dashboard">

<div class="container">
	<div class="row">
		{% for key, value in subject.items %}
			
		<div class="col-md-4">
			<div class="{%cycle 'dbox dbox--color-1' 'dbox dbox--color-2' 'dbox dbox--color-3' %}">
				<div class="dbox__icon">
					<i class="glyphicon glyphicon-cloud"></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">{{key}}</span>
					<span class="dbox__title">{{value}}</span>
				</div>
				
				<div class="dbox__action">
					<a class="btn dbox__action__btn" href="/" >Visit</a>
				</div>				
			</div>
		</div>
		{% endfor %}

	</div>
</div>
</section>
<hr>
<br>

<section id = "announcement">
	<div class = "center">
		<h1>Make an Announcement</h1>
		{% if messages %}    
            {% for message in messages %}
                <div>{{ message.tags }}, {{ message }} </div>
            {% endfor %}
        {% endif %}
		
		<form action="#" method="post" class="form">{%csrf_token%}
			<select class="inputbox" id="class" name="class" placeholder="Class">			 
			  <option value="" disabled selected > Please Select The Class</option> 
			  {% for key,value in subject.items %}
			  <option value="{{key}}">{{key}}</option>
			  {% endfor %}
			</select>
			
			<div class="inputbox ">
				<input type="text" required="required" name="title" pattern="[A-Za-z0-9:/ ,]*">
				<span>Title</span>
			</div>
			<div class="inputbox">
				<textarea name="content" required="required" id="content" cols="50" rows="5" placeholder="Content"></textarea>
			
			</div>
			<br><br><br>
			<div class="inputbox">
				<button type="submit" class="btn">Send</button>
			</div>
		</form>
	</div>
	<br>
</section> 


{% endblock %}