{% extends 'base.html' %}
{% load static %}



<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% block content %}
{%include 'TeacherNavbar.html'%}

<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
<!-- 
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                        <ul class="meta list list-unstyled">
                            <li class="name">{{ name }}
                                <label class="label label-info">{{ job }}</label>
                            </li>
                            <li class="email"><a href="#">Rebecca.S@website.com</a></li>
                            <li class="activity">Last logged in: Today at 2:18pm</li>
                        </ul>
                    </div>
                    <nav class="side-menu">
                        <ul class="nav">
                            <li><a href="#"><span class="fa fa-user"></span> Profile</a></li>
                            <li><a href="#"><span class="fa fa-cog"></span> Settings</a></li>
                            <li class="active"><a href="#"><span class="fa fa-credit-card"></span> Billing</a></li>
                            <li><a href="#"><span class="fa fa-envelope"></span> Messages</a></li>

                            <li><a href="user-drive.html"><span class="fa fa-th"></span> Drive</a></li>
                            <li><a href="#"><span class="fa fa-clock-o"></span> Reminders</a></li>
                        </ul>
                    </nav> -->
                </div>

                <div class="content-panel">
                    <div class="content-header-wrapper">
                        <h2 class="title">{{SubjectName}}</h2>
                        <div class="actions">
                            <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Sign Up
  </button> -->
  
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                    <div class="column" id="main">
                                        <h2 style="font-style: italic;">Create New Assignment </h2>
                                        <!-- <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3> -->
                                        <form action="" method="post">{%csrf_token%}
                                        <div class="form-group">
                                            <label for="exampleInputName">Assignment Name</label>
                                            <input type="name" class="form-control" id="AssignmentName" name="AssignmentName" placeholder="Assignment Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Comments </label>
                                            <input type="text" class="form-control" id="Comments"  placeholder="Comments">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">AssignmentID</label>
                                            <input type="text" class="form-control" id="AssignmentID" name="AssignmentID" placeholder="SubjectCode-ClassName-A1" value="{{SubjectName}}">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Create</button>
                                        </form>
                                    </div>
                                    <div>
                                        
                                    </div>
                                    
                                    </div>
                                </div>
                                </div>
                            </div>
                                <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i> Create Assignment</button>
                            </div>
                            <!-- Modal end -->
                    </div>
                    <div class="content-utilities">
                        <!-- <div class="page-nav">
                            <span class="indicator">View:</span>
                            <div class="btn-group" role="group">
                                <button class="active btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Grid View" id="drive-grid-toggle"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="List View" id="drive-list-toggle"><i class="fa fa-list-ul"></i></button>
                            </div>
                        </div> -->
                        <div class="actions">
                            <div class="btn-group">
                                <select id="RepoInput" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false"><span class="caret"></span>
                                <!-- <select name="Repoid" id="Repoid"> -->
                                    <!-- <ul class="dropdown-menu"> -->
                                        <option value="" selected disabled>SELECT REPO</option>
                                        {% for value in data.values %}
                                        <option value="{{value}}">{{value}}</option>
                                        {% endfor %}
                                    <!-- </ul> -->
                                </select>
                            </div>
                            <!-- <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false"><i class="fa fa-filter"></i> Sorting <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Newest first</a></li>
                                    <li><a href="#">Oldest first</a></li>
                                </ul>
                            </div> -->
                            <!-- <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Refresh"><i class="fa fa-refresh"></i></button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Archive"><i class="fa fa-archive"></i></button>

                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Report spam"><i class="fa fa-exclamation-triangle"></i></button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></button>
                            </div> -->
                        </div>
                    </div>
                    <div class="drive-wrapper drive-grid-view">
                        <div class="grid-items-wrapper">
                            <!-- start the for loop from here for file tiles -->
                            {% for key,values in filedata.items %}
                            <div class="drive-item module text-center">
                                <div class="drive-item-inner module-inner">
                                    <div class="drive-item-title">{{key}}<br>{{values.by}}</div>
                                    <div class="drive-item-thumb">
                                        <a href="#"><i class="fa fa-file"></i></a>
                                    </div>
                                </div>
                                <div class="drive-item-footer module-footer">
                                    <form action="{% url 'downloadFile' %}" method="post">{%csrf_token%}
                                        <ul class="utilities list-inline">
                                            <button value="{{values.by}}/{{key}}" id="downloadButton" name="downloadButton" ><i class="fa fa-download"></i></a></button>
                                            <!-- <button><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash"></i></a></button> -->
                                        </ul>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>

                    <div class="drive-wrapper drive-list-view">
                        <div class="table-responsive drive-items-table-wrapper">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="type"></th>
                                        <th class="name truncate">Name</th>
                                        <th class="date">Uploaded date</th>
                                        <th class="size">Time</th>
                                        <th class="Reponame">Directory</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in filedata.items %}
                                    <tr>
                                        <td class="type"><i class="fa fa-file-text-o text-primary"></i></td>
                                        <td class="name truncate"><a href="#">{{key}} - from {{value.by}}</a></td>
                                        <td class="date">{{value.time|date:"d M Y"}}</td>
                                        <td class="size">{{value.time|time:"TIME_FORMAT"}}</td>
                                        <td class="repo">{{value.repo}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% if messages %}
    {% for message in messages %}
        <div id="msg" style="display: none;">{{message}}</div>
    {% endfor %}
{% endif %}


<script>
    alert(document.getElementById("msg").textContent)

    // async function downloadFile() {
    //     console.log(document.getElementById('downloadButton').value)
    //     const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    //     res = await fetch('/downloadFile',{
    //     method:'POST',
    //     headers:{
    //         'content-type':'application/json',
    //         'X-CSRFToken': csrftoken
    //     },
    //     body:JSON.stringify({
    //         name: document.getElementById('downloadButton').value
    //     })
    // })
    // data = await res.json()
    // console.log(data)
    // }

</script>
{% endblock %}


